# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.[oa]
*.pyd
*.so

# C-extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / Editor specific files
.idea/
.vscode/
*.swp

# Application-specific files
*.log
logs/
settings.ini
assistant_data.db